#math-input {
    min-width: 250px;
}
.problem-input {
    background-color: #ececec;
    display: table-cell;
    border: 0;
    border-left: 1px solid !important;
    padding: 10px;
}

.problem-input:focus {
    outline: none;
}

.problem-output {
    float: left;
    padding: 10px;
}

.container-input {
    width: 100%;
    display: table;
}
